body{
    color: blue;
    font: 600 24px;
}
.box{
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition: border-radius 1s ease-in;
}
.box:hover{
    background: #ff7b29;
    border-radius: 50px;
}
    .box2{
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    margin-top: 20px;
    }
    .box2:hover{
        transform: scale(0.5);
    }