.item_1{
   background-color: brown;

}
.item_2{
    background-color: rgb(255, 0, 200);
 }
 .item_3{
    background-color: rgb(251, 255, 0);
 }
 .item_4{
    background-color: rgb(60, 255, 0);
 }

 .item_5{
    background-color: rgb(255, 187, 0);
 }
 .item_6{
    background-color: rgb(75, 15, 172);
 }