table.iksweb{
	width: 40%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #000000;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 50px;
}
table.iksweb th {
	background: #ff0000; 
	color: #fff; 
	font-weight: normal;
}
.jpj{
	background-color: #ffffff;
	
}
.kofd{
	background-color: #8f8585;
}