h1, h2{
    text-align: center;
}
p{
    font-size: 20pt;
}
.one{
    border: 2px solid black;
    background-color: RED;
    width: 150px;
    height: 100px;
    position:  absolute;
}
.two{
    border: 2px solid black;
    background-color: blue;
    width: 150px;
    height: 250px;
    position:  absolute;
}
.three{
    border: 2px solid black;
    background-color: green;
    width: 200px;
    height: 250px;
    
}
.four{
    border: 2px solid black;
    background-color: yellow;
    width: 200px;
    height: 100px;
    position: absolute;
}
.three{
    position: absolute;
    top: 320px;
    right: 800px;
}
.two{
    position: absolute;
    top: 550px;
   
}
.four{
    position:absolute;
    top: 700px;
    right: 800px;
    
}

