.box1{
width: 100px;
height: 100px;
background: #2db34a;
margin-bottom: 20px;

}
.box1:hover{
    transform: translate(50px,30px);
    transition-duration: 1.5s;
    
}
.box2{
    width: 100px;
    height: 100px;
    background: #00f7ff;
    margin-bottom: 20px;  
}
.box2:hover{
    transform:rotate(45deg);
    transition-duration: 1.5s;
    
    
}
.box3{
    width: 100px;
    height: 100px;
    background: #ff04b4;
    margin-bottom: 20px; 
    transition: width 1s, height 2s;
}
.box3:hover{
width: 200px;
height: 150px;
}
.box4{
    width: 100px;
height: 100px;
background: #ffc400;
margin-bottom: 20px;
}
.box4:hover{
    transform: scale(2);
    transition-duration: 1.5s;
  }
  .box4:hover{
    transform: scale(2.5);
    transition-duration: 1s;
  }
.box5{
    width: 100px;
    height: 100px;
    background: #b32d2d;
    margin-bottom: 20px;  
}
.box5:hover{
    transform:translateX(500px);
    transition-duration: 4s;
  }