hr{
    width: medium;
    border-style: dotted;
    background-color: green;
}
h{
    color: green;
    font-size: 25px;
}
h1{
    font-size: 20px;
    color: green;
}
div{
    column-count: 3;
    column-width: auto;
    column-rule-style: rgb(8, 221, 19);
    column-width: 250px;
    column-gap: 30px;
    column-rule: 2px solid rgb(10, 207, 10);
}