.box1{
background: #000000;
border-radius: 6px;
border: 1px solid black;
height: 40px;
width: 200px;
align-content: center;
text-align: center;

}
.box2{
    background: #000000;
    border-radius: 6px;
    border: 1px solid black;
    height: 40px;
    width: 120px;
    align-content: center;
    
    }
    .main{
        display: flex;
        justify-content: space-between;
    }
    .box3{
        background: #000000;
        border-radius: 6px;
        border: 1px solid black;
        height: 40px;
        width: 1350px;
        align-content: center;
        text-align: center;
        margin-top: 40px;
    }
    .main1{
    
    }
    .box4{
        background: #000000;
        border-radius: 6px;
        border: 1px solid black;
        height: 250px;
        width: 250px;
        align-content: center;
        text-align: center;
    }
    .box5{
        background: #000000;
        border-radius: 6px;
        border: 1px solid black;
        height: 250px;
        width: 250px;
        align-content: center;
        text-align: center;
    }
    .box6{
        background: #000000;
        border-radius: 6px;
        border: 1px solid black;
        height: 250px;
        width: 250px;
        align-content: center;
        text-align: center;
    }
    .main1{
        display: flex;
        margin-top: 40px;
   justify-content: space-between;
    }
    .main2{
        display: flex;
        justify-content: space-between;
  
    }
    .main3{
        display: flex;
        justify-content: space-between;
  
    }
   